[buildout]
index = http://packages.lizardsystem.nl
extends =
    http://packages.lizardsystem.nl/kgs/latest.cfg
find-links =
prefer-final = true
extensions = mr.developer
parts =
    sysegg
    mkdir
    django
    omelette
    console_scripts
    pyflakes
    sphinx
develop = .
eggs =
    lizard-rainapp


[versions]
# Specific pins. We inherit lots of pins from the KGS, so if you add a
# development egg, you really need to un-pin it here.
lizard-rainapp =
Django = 1.6.6
django-compressor =
django-extensions =
django-jsonfield =
django-nose =
djangorecipe =
factory-boy =
mr.developer =
nose =
syseggrecipe =
zc.buildout = 2.2.1
zc.recipe.egg = 1.2.2

[sysegg]
recipe = syseggrecipe
force-sysegg = true
eggs =
    psycopg2
    matplotlib
    GDAL

[mkdir]
recipe = z3c.recipe.mkdir
paths =
    ${buildout:directory}/var/static
    ${buildout:directory}/var/media
    ${buildout:directory}/var/log
    ${buildout:directory}/var/sqlite


[django]
# Sets up django for testing our application.
# See http://jacobian.org/writing/django-apps-with-buildout/
recipe = djangorecipe
project = lizard_rainapp
projectegg = lizard_rainapp
settings = testsettings
test = lizard_rainapp
eggs = lizard-rainapp


[omelette]
# Creates a nice parts/omelette with our used eggs
recipe = collective.recipe.omelette
eggs = ${buildout:eggs}


[console_scripts]
recipe = zc.recipe.egg
interpreter = python
eggs =
    ${buildout:eggs}
# Development tools
    eazysvn
    createcoverage
    pep8
    zest.releaser

[sources]
lizard-map = git git@github.com:lizardsystem/lizard-map.git
lizard-ui = git git@github.com:lizardsystem/lizard-ui.git
lizard-wms = git git@github.com:lizardsystem/lizard-wms.git

[pyflakes]
# Hairy way to install pyflakes: old-style distutils script.
recipe = zc.recipe.egg
scripts =
   pyflakes
eggs =
   pyflakes
entry-points = pyflakes=pkg_resources:run_script
arguments = 'pyflakes', 'pyflakes'


[sphinx]
recipe = collective.recipe.sphinxbuilder
source = ${buildout:directory}/doc/source
build = ${buildout:directory}/doc/build
eggs = ${buildout:eggs}
