#maindiv {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

.errorlist {
    color: red;
}

dt label {
    font-weight: bold;
}

.helptext {
    font-size: 80%;
    font-style: italic;
    font-weight: normal;
}