{% load workspaces %}
{% load utility %}
{# header #}
<div>
  <img src="{{ symbol_url }}" />&nbsp;
  <strong>{{ title|truncatewords:8 }}</strong>
</div>
{% for element in info %}
  {% if info|length > 1 %}
    <hr/>
    <h4>{{ element.location }}</h4>
  {% endif %}
  {# bar graph #}
  {% if element.flot_graph_data_url or element.image_graph_url %}
    <div style="width: 100%; height: 240px;"
         class="dynamic-graph"
         data-flot-graph-data-url="{{ element.flot_graph_data_url }}"
         data-image-graph-url="{{ element.image_graph_url }}">
    </div>
  {% endif %}
  {# table #}
  <table class="table table-striped table-condensed">
    <thead>
      <tr>
        <th>Periode</th>
        <th>mm</th>
        <th>Start</th>
        <th>Eind</th>
        <th>Herhalingstijd
        </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{ element.period_summary_row.delta }} dagen</td>
        <td>{{ element.period_summary_row.max|floatformat:1|default:'-' }}</td>
        <td>{{ element.period_summary_row.start|date:"d-m-Y H:i"|default:'-' }}</td>
        <td>{{ element.period_summary_row.end|date:"d-m-Y H:i"|default:'-' }}</td>
        <td>{{ element.period_summary_row.t }}</td>
      </tr>
      {% for table_row in element.table %}
        <tr>
          <td>{{ table_row.td_window|short_timedelta }}</td>
          <td>{{ table_row.max|floatformat:1|default:'-' }}</td>
          <td>{{ table_row.start|date:"d-m-Y H:i"|default:'-' }}</td>
          <td>{{ table_row.end|date:"d-m-Y H:i"|default:'-' }}</td>
          <td>{{ table_row.t }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

  <ul class="without-bullets">
    <li>
      {% if add_snippet %}
        <a href="{% url lizard_map_collage_add %}"
           class="collage-add"
           data-name="{{ element.name }}"
           data-adapter-class="{{ element.workspace_item.adapter_class }}"
           data-adapter-layer-json="{{ element.workspace_item.adapter_layer_json }}"
           data-identifier="{{ element.identifier_json }}"
           data-target-id="#edit-collage"
           title="Toevoegen aan selectie">
          <i class="icon-picture"></i>
          Toevoegen aan dashboard
        </a>
      {% endif %}
    </li>
    <li>
      <a href="{{ element.url }}"
         class="ss_table_save ss_sprite noprint"
         title="Exporteer tijdreeksen">exporteer tijdreeksen</a>
    </li>
  </ul>
{% endfor %}
