{# header #}
<div>
  <img src="{{ symbol_url }}" />&nbsp;
  <strong>{{ title|truncatewords:8 }}</strong>
</div>
{# normal graph #}
<div style="width: 100%; height: 240px;"
     class="img-use-my-size">
  <a href="{{ img_url }}"
     class="replace-with-image">
    afbeelding nog niet geladen
  </a>
</div>
{# table #}
<table>
<thead>
  <th>Tijdspanne</th>
  <th>Max</th>
  <th>Tijdstip max</th>
  <th>Start</th>
  <th>Eind</th>
  <th>Herhalingstijd</th>
</thead>
<tbody>
  {% for rain_stat_row in rain_stats %}
  <tr>
  <td>{{ rain_stat_row.td }}</td>
  <td>{{ rain_stat_row.max }}</td>
  <td>{{ rain_stat_row.datetime }}</td>
  <td>{{ rain_stat_row.start }}</td>
  <td>{{ rain_stat_row.end }}</td>
  <td>{{ rain_stat_row.t }}</td>
  </tr>
  {% endfor %}
</tbody>
</table>
{# bar graph #}
<div style="width: 100%; height: 240px;"
     class="img-use-my-size">
  <a href="{{ bar_url }}"
     class="replace-with-image">
    afbeelding nog niet geladen
  </a>
</div>
